    <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Tecnosoftware S.A.">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Gilbarco Pago Movil</title>
    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <!-- MetisMenu CSS -->
    <link href="/vendor/metisMenu/metisMenu.min.css" th:href="@{/vendor/metisMenu/metisMenu.min.css}" rel="stylesheet"/>
    <!-- Custom CSS -->
    <link href="/css/sb-admin-2.css" th:href="@{/css/sb-admin-2.css}" rel="stylesheet"/>
    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css"
          th:href="@{/vendor/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/bower_components/html5shiv/dist/html5shiv.min.js"></script>
    <script src="/bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<!-- Content Wrapper. Contains page content -->
<div id="wrapper" layout:fragment="wrapper"></div>
<!-- /.content-wrapper -->

<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/bower_components/jquery/src/jquery-ui.js}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js" th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!-- Metis Menu Plugin JavaScript -->
<script src="/vendor/metisMenu/metisMenu.min.js" th:src="@{/vendor/metisMenu/metisMenu.min.js}"></script>
<!-- Custom Theme JavaScript -->
<script src="/js/sb-admin-2.js" th:src="@{/js/sb-admin-2.js}"></script>

<th:block layout:fragment="extra-js"></th:block>
</body>

</html>
