<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
</head>
<body>
<th:block layout:fragment="page-title">Dashboard</th:block>


<div id="wrapper" layout:fragment="page-content">
    <div class="panel-body">
        <h1 class="page-header">
            <th:block th:if="not ${read_only}">Por favor, ingrese los datos del Perfil</th:block>
            <th:block th:if="${read_only}">Información Perfil</th:block>
        </h1>
        <div class="col-lg-12" th:if="${error_message}">
            <div class="alert alert-danger" role="alert" th:text="#{${error_message}}">
                Ha ocurrido un error al querer crear el perfil
            </div>
            <!-- / .alert alert-success -->
        </div>
        <form id="alta-perfil-form" th:object="${perfil}" th:action="@{/admin/perfiles/create}" action="#" method="post">
            <input type="hidden" th:field="*{id}" class="form-control"/>

            <!-- / .col-lg-3 -->
            <div class="col-lg-6 col-lg-offset-3">
                <div class="form-group" th:classappend="${#fields.hasErrors('name')} ? 'has-error'">
                    <label class="control-label" for="name">Nombre:</label>
                    <input type=text class="form-control" th:readonly="${read_only}" th:field="*{name}" id="name"/>
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Help block with error</span>
                </div>
                <!-- / .form-group -->
                <div class="form-group" th:classappend="${#fields.hasErrors('description')} ? 'has-error'">
                    <label class="control-label" for="description">Descripcion</label>
                    <textarea id="description" th:readonly="${read_only}" th:field="*{description}" class="form-control"
                              rows="3" placeholder="Descripcion" required></textarea>
                    <span class="help-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Help block with error</span>
                </div>
                <!--This div is the container of the 'permisos' combobox-->
                <div class="form-group" th:if="not ${read_only}"
                     th:classappend="${#fields.hasErrors('permisos')} ? 'has-error'">
                    <label class="control-label" for="permisos">Permisos</label>
                    <select id="permisos" th:field="*{permisos}" multiple="multiple"
                            class="form-control bootstrap-multiple">
                        <option th:each="perm : ${permisos}" th:value="${perm.name}"
                                th:text="${perm.nombreDelPermiso}">
                            <input type="checkbox" th:each="perm : ${permisos}" th:value="${perm.name}"
                                   th:text="${perm.nombreDelPermiso}"/>
                        </option>
                    </select>
                    <span class="help-block" th:if="${#fields.hasErrors('permisos')}" th:errors="*{permisos}">Help block with error</span>
                </div>
                <div class="form-group" th:if="${read_only}">
                    <label class="control-label" for="permisos">Permisos</label>
                    <ul>
                        <li th:each="perm : ${perfil.permisos}" th:text="${perm.nombreDelPermiso}"></li>
                    </ul>
                </div>
                <!-- / .form-group -->
            </div>


            <div class="col-lg-6 col-lg-offset-3">
                <!-- / .col-lg-3 -->
                <div class="pull-right">
                    <button type="button" id="guardar"  th:if="not ${read_only}" formnovalidate onClick="sendForm();"
                            class="btn btn-primary">Guardar
                    </button>
                    <button type="button" class="btn btn-default" onClick="window.location.replace('/admin/perfiles')">
                        Volver
                    </button>
                </div>
            </div>

        </form>
    </div>
    <!-- /.panel-body -->
</div>

<th:block layout:fragment="extra-js">
    <script th:src="@{/js/pages/perfiles.js}"></script>
    <!-- Multiselect -->
    <script th:src="@{/vendor/bootstrap-multiselect/bootstrap-multiselect.js}"></script>
    <link rel="stylesheet" type="text/css" media="all" href="#"
          th:href="@{/vendor/bootstrap-multiselect/bootstrap-multiselect.css}"/>
</th:block>
</body>
</html>